<div class="container mt-2 py-2 bg-light">
  <h2 class="text-center">Villanos registrados</h2>
  <table class="table table-striped table-bordered table-light">
    <thead class="table-light">
      <th>Id</th>
      <th>Nombre</th>
      <th>Frase</th>
      <th>Objetivo</th>
      <th>Version</th>
    </thead>
    <tbody>
      <tr *ngFor="let villain of villains">
        <td>{{villain.id}}</td>
        <td>{{villain.name}}</td>
        <td>{{villain.phrase}}</td>
        <td>{{villain.objective}}</td>
        <td>{{villain.version}}</td>
      </tr>
    </tbody>
  </table>
</div>
